doctype html
html(lang="en")
head
  meta(charset="utf-8")

  // Ensure that everything scales appropriately on a mobile device 
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

  // Let's borrow a cool looking Font from Google 
  link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css')

  link(href="css/styles.css" rel="stylesheet")
head

body


  #content-template
    // This is where the templates defined below will be used

    // Main Title Screen that appears when the page loads for the first time 
    script(id="menu-template" type="text/template")

      div(class="titleWrapper")
        div(class="title") WALLO
          div(class="buttons")
            button(id="btnCreateGame" class="btn left") CREATE/button
            button(id="btnJoinGame" class="btn right") JOIN/button
            div(style="clear:both")

    // This screen appears when a user clicks "CREATE" on the Title Screen 
    script(id="create-game-template" type="text/template")
      .createGameWrapper
        div(class="info") Open this site on your mobile device:
        div(id="gameURL" class="infoBig") Error!

        div(class="info") Then click strongJOIN/strong and br enter the following Game ID:
        div(id="spanNewGameCode" class="gameId") Error!
        button(id="startLevel" class="btn") Go to level/button
        div id="playersWaiting"
        
    // This scrreen appears when a player clicks "JOIN" on the Title Screen 
    script(id="join-game-template" type="text/template")
      div(class="joinGameWrapper")
        div(class="info")
          label(for="inputPlayerName") Your Name:
            input(id="inputPlayerName" type="text")
            div(class="info")
              label(for="inputGameId") Game ID:
                input(id="inputGameId" type="text")
            div(class="info buttons")
              button(id="btnStart" class="btn") Join/button
              div(id="playerWaitingMessage")

    // this screen appears when a player clicks start on the join game template 
    script(id="character-Select-template" type="text/template")
      div test
    
    // this screen apears after the host clicks on the "go to level" button from the create menu 
    script(id="game-template" type="text/template")
      div Game area
    
    // this screen apears after the host clicks on the "go to level" button from the create menu 
    script(id="controller-template" type="text/template")
      div
        button(id="btn" class="ctrl" name="action1") controller/button

    // JavaScript Libraries 

    // jQuery! 
    script(src="libs/jquery-2.1.1.min.js")

    // TextFit resizes text to fill a container.
      It's used so the titles and game words fit properly on any size screen.
      https://github.com/STRML/textFit   
    script(src="libs/textFit.min.js")

    // FastClick is used to eliminate the 300ms delay when clicking items on a mobile device
      https://github.com/ftlabs/fastclick 
    script(src="libs/fastclick.js")

    // If Socket.IO is used with Express, then the /socket.io/ path will
      serve the proper Socket.IO javascript files used by the browser 
    script(src="/socket.io/socket.io.js")

    // app.js is where all the client-side Anagrammatix game logic 
    script(src="app.js")