extends layout

block head
  link(rel="stylesheet" type='text/css' href="css/index.css")

block content
  //- Login
  //- div.container
  //-   div.row
  //-     div.col-sm-6.col-md-4.col-md-offset-4
  //-       h1.text-center.login-title Sign in to our Passport app
  //-         div.account-wall
  //-           img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
  //-           form(class='form-signin', action='/login', method='POST')
  //-             input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
  //-             input(type='password', name='password' class='form-control', placeholder='Password', required)
  //-             button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
  //-             span.clearfix
  //-         a(href='/signup', class='text-center new-account') Create an account
  //-         #message
  //-         if message
  //-           h1.text-center.error-message #{message}
  include partials/nav
  div(class="wrapper")
    div(id="game-one" class="game")
      a(href="screen?levelUri=lab.json") 
        +try_img_translation
    div(id="game-two" class="game game-overlay")
      a(href="screen?levelUri=garage.json") 
        +try_img_translation
    div(id="game-three" class="game")
      a(href="screen?levelUri=wallcomem-demo.json") 
        +try_img_translation
  -if(locals.locale == "en")
    img(src="assets/choose_game.png" id="choose-img")
  - else
    img(src="assets/choisir_jeu.png" id="choose-img")
  script(src="libs/jquery-2.1.1.min.js")
  script(src="libs/jquery.cookie.js")
  script(src="js/index/index.js")
  script(src="js/nav/nav.js")
  script(src="js/detectBrowser.js")


mixin try_img_translation
  -if(locals.locale == "en")
    img(src="assets/try_game.png")
  - else
    img(src="assets/essayer_jeu.png")