doctype html
html(lang="en")
	head
		title= title
		meta(charset="utf-8")
		// Ensure that everything scales appropriately on a mobile device 
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
		// Let's borrow a cool looking Font from Google 

		link(rel="icon" type="image/png" href="favicon.png")
		link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css')
		link(href="css/styles.css" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="libs/yui3/build/cssnormalize/cssnormalize-min.css")
		link(rel="stylesheet" type="text/css" href="css/screen.css")
		link(rel="stylesheet" type="text/css" href="css/pad.css")
if bodyClass
	body(class="#{bodyClass}")
		block content
else
	body
		block content