extends layout

block content
	a(id="newLevel" href="#") new
	.levelName
		input(type="text")
		button create
	.wallo-load-levels
		ul
	script(src="libs/jquery-2.1.1.min.js")
	script(src="js/lobby/lobby.js")