extends layout
block head
	link(rel="stylesheet" type='text/css' href="css/lobby.css")
	link(rel="stylesheet" type='text/css' href="font-awesome/css/font-awesome.min.css")
block content
	.wrapper
		include partials/nav
		.container
			.lobby
				.header
					.profile
						img(src="assets/user-profile-picture.jpg" alt="user-picture")
						.infos
							h2 My profile
							dl
								dt username
								dd camel113
								dt mail
								dd adrienbigler@gmail.com
								dt country
								dd Switzerland
							.update-infos
								a(href="#")
									i(class="fa fa-pencil-square-o")
								a(href="#")
									i(class="fa fa-camera")
					.games
						.wrapper
							.wallogames-logo
								img(src="assets/wallo-games-logo.jpg")
							.default-games
								div(class="game-one game")
									img(src="assets/default-game-sample.gif")
									h3 Game one
									div(class="action play")
										i(class="fa fa-play")	Play
									div(class="action edit")
										i(class="fa fa-pencil-square-o")	Edit
								div(class="game-two game")
									img(src="assets/default-game-sample.gif")
									h3 Game two
									div(class="action play")
										i(class="fa fa-play")	Play
									div(class="action edit")
										i(class="fa fa-pencil-square-o")	Edit
								div(class="game-three game")
									img(src="assets/default-game-sample.gif")
									h3 Game three
									div(class="action play")
										i(class="fa fa-play")	Play
									div(class="action edit")
										i(class="fa fa-pencil-square-o")	Edit
				.my-wall
					.header
						img(src="assets/small-wall.png" alt="my-wall")
						h3 My Wall
					.content
						.created
							h4 My latest games
							.new
								i(id="newLevel" class="fa fa-plus")
								span create a new game
								.levelName
									input(type="text")
									button create
							.wallo-load-levels
						.played
							h4 Latest game I played
							.games-played
								.row
									article(class="col-md-6")
										img(src="assets/default-game-sample.gif")
										.game-infos
											.buttons
												a(class="fa fa-refresh" href="#")
												a(class="fa fa-comment" href="#")
												a(class="fa fa-share-square-o" href="#")
											h5 Nom jeu
											span Nom créateur
										.last-score
											p My last score
												span 40'000
									article(class="col-md-6")
										img(src="assets/default-game-sample.gif")
										.game-infos
											.buttons
												a(class="fa fa-refresh" href="#")
												a(class="fa fa-comment" href="#")
												a(class="fa fa-share-square-o" href="#")
											h5 Nom jeu
											span Nom créateur
										.last-score
											p My last score
												span 40'000
								.row
									article(class="col-md-6")
										img(src="assets/default-game-sample.gif")
										.game-infos
											.buttons
												a(class="fa fa-refresh" href="#")
												a(class="fa fa-comment" href="#")
												a(class="fa fa-share-square-o" href="#")
											h5 Nom jeu
											span Nom créateur
										.last-score
											p My last score
												span 40'000
									article(class="col-md-6")
										img(src="assets/default-game-sample.gif")
										.game-infos
											.buttons
												a(class="fa fa-refresh" href="#")
												a(class="fa fa-comment" href="#")
												a(class="fa fa-share-square-o" href="#")
											h5 Nom jeu
											span Nom créateur
										.last-score
											p My last score
												span 40'000

				
			//- a(href="/signout") Log out 
	script(src="libs/jquery-2.1.1.min.js")
	script(src="js/lobby/lobby.js")