extends layout
block head
	link(rel="stylesheet" type='text/css' href="css/lobby.css")
block content
	.container
		nav
			ul
				li About us
				li Team
				li Pricing
				li Contact
		.lobby
			.history
				p Hello
			.played
				p World
	a(href="/signout") Log out 
	br
	br
	a(id="newLevel" href="#" class="fa fa-plus-circle fa-2x")
	.levelName
		input(type="text")
		button create
	.wallo-load-levels
		ul

	script(src="libs/jquery-2.1.1.min.js")
	script(src="js/lobby/lobby.js")