extends layout

block head
	link(rel="stylesheet" type="text/css" href="css/pad.css")

block content
	// Libraries
	script(src="libs/yui3/build/yui/yui-min.js" type="text/javascript")
	script(src="libs/jquery-2.1.1.min.js")
	script(src="/socket.io/socket.io.js")

	// Sources
	script(src="js/pad/pad.js" type="text/javascript")
	script(src="js/io.js")
	script(src="js/util.js")
	script(src="js/pad/initialization.js")