extends layout

block head
	link(rel="stylesheet" type="text/css" href="css/screen.css")
	link(rel="stylesheet" type="text/css" href="libs/jquery-ui/jquery-ui.min.css")
	link(rel="stylesheet" type="text/css" href="libs/colorpicker/css/colorpicker.css")


block content
	// Markup 

	div(class="wallo-connectionindicator")

	div(class="wallo-page")

		div(id="tab-play" class="wallo-u wallo-tab wallo-tab-selected")
			div(class="wallo-play")
				div(class="wallo-crafty")

			div(class="wallo-edit-toolbar")

		div(id="tab-source" class="wallo-u wallo-tab")
			div(id="editor")

		div(id="tab-script" class="wallo-u wallo-tab")
			div(id="scripteditor")

		div(class="wallo-edit wallo-u")

			div(class="wallo-edit-buttons")
				button(class="button-play fa fa-play fa-lg" title="Shortcut: p" disabled)
				button(class="button-reset  fa fa-stop fa-lg" title="Shortcut: r")
				button(class="button-fullscreen fa fa-expand fa-lg" title="Shortcut: f")
				button(class="button-save fa fa-save fa-lg")
				button(class="button-more fa fa-caret-down fa-lg")
				ul
					li(class="button-adddebugplayer") Toggle debug player
					li(class="button-toggledebugcanvas") Toggle crafty debug canvas
				button(class="button-close fa fa-close fa-lg"  title="Shortcut: ยง")

			div(data-target="#tab-play" class="wallo-tab-link wallo-tab-linkselected") Preview
			div(data-target="#tab-source" class="wallo-tab-link") Source
			div(data-target="#tab-script" class="wallo-tab-link") Scripts

			div(class="wallo-tab-footer")

	// Libraries 
	script(src="libs/jquery-2.1.1.min.js")
	script(src="libs/underscore-min.js")
	script(src="libs/Box2dWeb-2.1.a.3.min.js")
	script(src="libs/crafty-min.js")
	script(src="/socket.io/socket.io.js")
	script(src="libs/stats.min.js")
	script(src="libs/yui3/build/yui/yui-min.js")
	script(src="libs/inputex/src/loader.js")
	script(src="libs/ace/ace.js")
	script(src="libs/jquery-ui/jquery-ui.min.js")
	script(src="libs/tinymce/tinymce.min.js")
	script(src="libs/colorpicker/js/colorpicker.js")
	script(src="js/inputex/inputex-color.js")
	script(src="js/inputex/inputex-rte.js")
        
	// Sources 
	script(src="js/screen/sprites.js")
	//script(src="js/screen/scenes/demo.js")
	script(src="js/screen/components/box2d.js")
	script(src="js/screen/components/Player.js")
	script(src="js/screen/components/Platform.js")
	// script(src="js/screen/components/TintSprite.js")
	script(src="js/io.js")
	script(src="js/util.js")
	script(src="js/screen-edit.js")
	script(src="js/screen.js")
