body {
	background: black;
	width: 100%;
	height: 1000px;
	overflow: hidden;
}

input {
	padding: 5px;
}

.pad-content {
	position: relative;
	width: 100%;
	height: 100%;
}

.pad {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	background: url(nespad_back_640.png) no-repeat;
	background-size: 100%;
	width: 620px;
	height: 291px;
	margin-left: -310px;
	margin-top: -145px;
	max-width: 620px;
	max-height: 291px;
}

/*
.pad-cross {
	position: absolute;
	left: 11px;
	top: 133px;
	width: 181px;
	height: 168px;
	background: url(cross.png);
}

.pad-cross-top {
	background: url(cross_top.png);
}

.pad-cross-bottom {
	background: url(cross_bottom.png);
}

.pad-cross-left {
	background: url(cross_left.png);
}

.pad-cross-right {
	background: url(cross_right.png);
}*/
.pad-crossdummy-top,.pad-crossdummy-bottom,.pad-crossdummy-left,.pad-crossdummy-right,.pad-button-a,.pad-button-b,.pad-button-select,.pad-button-start
	{
	/*background: pink;*/
	position: absolute;
}

.pad-crossdummy-top {
	top: 28%;
	left: 13%;
	width: 12%;
	height: 26%;
}

.pad-crossdummy-bottom {
	top: 72%;
	left: 14%;
	width: 12%;
	height: 26%;
}

.pad-crossdummy-left {
	top: 51%;
	left: 2%;
	width: 12%;
	height: 26%;
}

.pad-crossdummy-right {
	top: 51%;
	left: 23%;
	width: 12%;
	height: 26%;
}

.pad-button-a {
	top: 59%;
	left: 65%;
	width: 12%;
	height: 26%;
}

.pad-button-b {
	top: 59%;
	left: 79%;
	width: 12%;
	height: 26%;
}

.pad-button-pressed {
	background: url(nespad_hover.png) no-repeat;
	background-size: 100%;
}

.pad-button-a.pad-button-pressed { /*background: url(button-a.png);*/
	
}

.pad-choosewindow {
	color: white;
	padding: 65px 20px;
	text-align: center;
}

.pad-small {
	font-size: 9px;
}

.pad-accelerowindow {
	color: white;
	text-align: center;
}

/********************************************* Accelero graph */
#pad-chart {
	margin: 10px 0;
	width: 280px;
	height: 280px;
}